.container-plus{
    position: fixed;
    z-index: 100;
    bottom: 15px;
    right: 30px;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    overflow: hidden;
}

.plus{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    
    cursor: pointer;
    z-index: 100;
}

.container-plus:hover{
    height: 290px;
    transition: all 0.5s;
    overflow: visible;
}

.container-plus:hover .plus{
    transform: translateY(5px);
    transition: all 0.5s;
}

.img{
    border-radius: 40px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.element{
    position: relative;
    margin: 2px 0px;
    cursor: pointer;
    opacity: 0;

}

@keyframes comein{
    0%{
        opacity: 0;
    }
    35%{
        transform: translateX(-20px) scale(0.4);
    }
    70%{
        transform: translateX(0px) scale(1.2);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.container-plus:hover .gmail{
    animation: comein 0.5s forwards 0.2s;

}
.container-plus:hover .git{
    animation: comein 0.5s forwards 0.3s;

}
.container-plus:hover .linkedin{
    animation: comein 0.5s forwards 0.4s;

}

@media screen and (max-width:500px) {
    .container-plus{
        width: 120px;
        height: 120px;
        right: 4px;
        z-index: 200px;
    }
    .plus{
        @apply w-20
    }
    .container-plus:hover{
        height: 370px;
    }
    .element > a > img{
        @apply w-12
    }
    .element{
        margin: none;
    }
}

