
/* home */

.home::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    filter: brightness(70%);
    background: url(../img/home/bg\ home\ option\ 1.jpg) no-repeat center center/cover;
    opacity: 1;
}
  
  .home{
    font-family: 'Play', sans-serif;
    font-weight: bold;
  }
  
  .logo{
    font-family: 'Black Ops One', system-ui;
  }
  
  /* intro text */
  .main{
    font-family: 'Rubik Doodle Shadow', system-ui;
    width:100%;  
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
  .h1{
    text-align:center;
  
    color: #F1FAEE; 
    font-size: 4rem;
  }
  
  .roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  

  
  .roller #rolltext {
    position: absolute;
    font-size: 2rem;
    top: 0;
    animation: slide 6s infinite;  
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
  }
  
 
  
  
  

/* intro image */
.object {
    animation: MoveUpDown 5s linear infinite;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 30px;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      top: 70px;
    }
    50% {
      top: 115px;
    }
  }

  @media screen  and (max-width:1030px){
    .h1{
      font-size: 3rem;
    }
    .roller #rolltext{
      font-size: 1.7rem;
    }
    .mylinks > a > button{ 
      @apply text-base w-40
    }
    .astronaut{
      @apply w-80
    }

  }

  @media screen and (max-width : 850px) {
    .home{
      @apply justify-center
    }
    .object{
      position: absolute;
      left: 0px;
      right: 0px;
    }
  }

  @media screen and (max-width:630px) {
    .home{
      @apply px-1 h-[75vh]
    }
    .home-con{
      position: absolute;
      bottom: 100px;
      @apply px-2
    }
    .object{
      flex-direction: column;
      @apply mx-0 
    }
    .main > .h1{
        @apply text-5xl
    }
   
    .object > .astronaut{
      @apply w-72
    }
    .roller{
      height: 2rem;
      line-height: 2rem;
      @apply mt-4
    }
    .roller #rolltext{
      animation: slide2 6s infinite;  
      display: flex;
      height: 1rem;
      @apply text-3xl 
    }
   
    @keyframes slide2 {
      0%{
        top:0;
      }
      25%{
        top: -2.5rem;    
      }
      50%{
        top: -4.8rem;
      }
    }
    .mylinks > a > button{
      @apply text-xs w-[8rem] px-1 py-2 mb-0
    }
    .object{
      @apply h-[30vh]
    }
    .object > .astronaut{
      @apply w-[30vh]
    }
  }

 
